.loading{
	background-color: #45b29d;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999999999;
	margin-top: 0px;
	top: 0px;
}
.loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
.loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 80px;
    margin-top: -25px;
    margin-left: -40px;

}
.loading-center-absolute .object{
	width: 5px;
	height: 45px;
	margin-right: 3px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite;
	-moz-animation: animate 1s infinite;
	-o-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
	}

.loading-center-absolute .object:last-child {
	margin-right: 0px;
	}

.loading-center-absolute .object:nth-child(10){
	-webkit-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
    animation-delay: 0.9s;	
	}
.loading-center-absolute .object:nth-child(9){
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
    animation-delay: 0.8s;	
	}	
.loading-center-absolute .object:nth-child(8){
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
    animation-delay: 0.7s;	
	}
.loading-center-absolute .object:nth-child(7){
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
    animation-delay: 0.6s;	
	}
.loading-center-absolute .object:nth-child(6){
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
    animation-delay: 0.5s;	
	}
.loading-center-absolute .object:nth-child(5){
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
.loading-center-absolute .object:nth-child(4){
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
    animation-delay: 0.3s;		
	}
.loading-center-absolute .object:nth-child(3){
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
    animation-delay: 0.2s;	
	}
.loading-center-absolute .object:nth-child(2){
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
    animation-delay: 0.1s;
	}						
	


@-webkit-keyframes animate {
 
  50% {
	-ms-transform: scaleY(0); 
   	-webkit-transform: scaleY(0);
   	-moz-transform: scaleY(0);
   	-o-transform: scaleY(0);
    transform: scaleY(0);
	
	  }
	  
	  

}

@keyframes animate {
  50% {
	-ms-transform: scaleY(0); 
   	-webkit-transform: scaleY(0);
   	-moz-transform: scaleY(0);
   	-o-transform: scaleY(0);
    transform: scaleY(0);
	  }

  
}