
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"f1728a06f6","applicationID":"4141839","transactionName":"dAsIQEUKDl8ARBkIB1kAD1pQSgBcF0RZEw==","queueTime":0,"applicationTime":220,"agent":""}</script>
    <script type="text/javascript">(window.NREUM||(NREUM={})).loader_config={xpid:"UwIOVlRbGwcBUFBaBAg="};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o||e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(t,e,n){function r(t){try{c.console&&console.log(t)}catch(e){}}var o,i=t("ee"),a=t(15),c={};try{o=localStorage.getItem("__nr_flags").split(","),console&&"function"==typeof console.log&&(c.console=!0,o.indexOf("dev")!==-1&&(c.dev=!0),o.indexOf("nr_dev")!==-1&&(c.nrDev=!0))}catch(s){}c.nrDev&&i.on("internal-error",function(t){r(t.stack)}),c.dev&&i.on("fn-err",function(t,e,n){r(n.stack)}),c.dev&&(r("NR AGENT IN DEVELOPMENT MODE"),r("flags: "+a(c,function(t,e){return t}).join(", ")))},{}],2:[function(t,e,n){function r(t,e,n,r,o){try{d?d-=1:i("err",[o||new UncaughtException(t,e,n)])}catch(c){try{i("ierr",[c,(new Date).getTime(),!0])}catch(s){}}return"function"==typeof f&&f.apply(this,a(arguments))}function UncaughtException(t,e,n){this.message=t||"Uncaught error with no additional information",this.sourceURL=e,this.line=n}function o(t){i("err",[t,(new Date).getTime()])}var i=t("handle"),a=t(16),c=t("ee"),s=t("loader"),f=window.onerror,u=!1,d=0;s.features.err=!0,t(1),window.onerror=r;try{throw new Error}catch(l){"stack"in l&&(t(8),t(7),"addEventListener"in window&&t(5),s.xhrWrappable&&t(9),u=!0)}c.on("fn-start",function(t,e,n){u&&(d+=1)}),c.on("fn-err",function(t,e,n){u&&(this.thrown=!0,o(n))}),c.on("fn-end",function(){u&&!this.thrown&&d>0&&(d-=1)}),c.on("internal-error",function(t){i("ierr",[t,(new Date).getTime(),!0])})},{}],3:[function(t,e,n){t("loader").features.ins=!0},{}],4:[function(t,e,n){function r(t){}if(window.performance&&window.performance.timing&&window.performance.getEntriesByType){var o=t("ee"),i=t("handle"),a=t(8),c=t(7),s="learResourceTimings",f="addEventListener",u="resourcetimingbufferfull",d="bstResource",l="resource",p="-start",h="-end",m="fn"+p,w="fn"+h,v="bstTimer",y="pushState";t("loader").features.stn=!0,t(6);var g=NREUM.o.EV;o.on(m,function(t,e){var n=t[0];n instanceof g&&(this.bstStart=Date.now())}),o.on(w,function(t,e){var n=t[0];n instanceof g&&i("bst",[n,e,this.bstStart,Date.now()])}),a.on(m,function(t,e,n){this.bstStart=Date.now(),this.bstType=n}),a.on(w,function(t,e){i(v,[e,this.bstStart,Date.now(),this.bstType])}),c.on(m,function(){this.bstStart=Date.now()}),c.on(w,function(t,e){i(v,[e,this.bstStart,Date.now(),"requestAnimationFrame"])}),o.on(y+p,function(t){this.time=Date.now(),this.startPath=location.pathname+location.hash}),o.on(y+h,function(t){i("bstHist",[location.pathname+location.hash,this.startPath,this.time])}),f in window.performance&&(window.performance["c"+s]?window.performance[f](u,function(t){i(d,[window.performance.getEntriesByType(l)]),window.performance["c"+s]()},!1):window.performance[f]("webkit"+u,function(t){i(d,[window.performance.getEntriesByType(l)]),window.performance["webkitC"+s]()},!1)),document[f]("scroll",r,!1),document[f]("keypress",r,!1),document[f]("click",r,!1)}},{}],5:[function(t,e,n){function r(t){for(var e=t;e&&!e.hasOwnProperty(u);)e=Object.getPrototypeOf(e);e&&o(e)}function o(t){c.inPlace(t,[u,d],"-",i)}function i(t,e){return t[1]}var a=t("ee").get("events"),c=t(17)(a,!0),s=t("gos"),f=XMLHttpRequest,u="addEventListener",d="removeEventListener";e.exports=a,"getPrototypeOf"in Object?(r(document),r(window),r(f.prototype)):f.prototype.hasOwnProperty(u)&&(o(window),o(f.prototype)),a.on(u+"-start",function(t,e){var n=t[1],r=s(n,"nr@wrapped",function(){function t(){if("function"==typeof n.handleEvent)return n.handleEvent.apply(n,arguments)}var e={object:t,"function":n}[typeof n];return e?c(e,"fn-",null,e.name||"anonymous"):n});this.wrapped=t[1]=r}),a.on(d+"-start",function(t){t[1]=this.wrapped||t[1]})},{}],6:[function(t,e,n){var r=t("ee").get("history"),o=t(17)(r);e.exports=r,o.inPlace(window.history,["pushState","replaceState"],"-")},{}],7:[function(t,e,n){var r=t("ee").get("raf"),o=t(17)(r),i="equestAnimationFrame";e.exports=r,o.inPlace(window,["r"+i,"mozR"+i,"webkitR"+i,"msR"+i],"raf-"),r.on("raf-start",function(t){t[0]=o(t[0],"fn-")})},{}],8:[function(t,e,n){function r(t,e,n){t[0]=a(t[0],"fn-",null,n)}function o(t,e,n){this.method=n,this.timerDuration="number"==typeof t[1]?t[1]:0,t[0]=a(t[0],"fn-",this,n)}var i=t("ee").get("timer"),a=t(17)(i),c="setTimeout",s="setInterval",f="clearTimeout",u="-start",d="-";e.exports=i,a.inPlace(window,[c,"setImmediate"],c+d),a.inPlace(window,[s],s+d),a.inPlace(window,[f,"clearImmediate"],f+d),i.on(s+u,r),i.on(c+u,o)},{}],9:[function(t,e,n){function r(t,e){d.inPlace(e,["onreadystatechange"],"fn-",c)}function o(){var t=this,e=u.context(t);t.readyState>3&&!e.resolved&&(e.resolved=!0,u.emit("xhr-resolved",[],t)),d.inPlace(t,w,"fn-",c)}function i(t){v.push(t),h&&(g=-g,b.data=g)}function a(){for(var t=0;t<v.length;t++)r([],v[t]);v.length&&(v=[])}function c(t,e){return e}function s(t,e){for(var n in t)e[n]=t[n];return e}t(5);var f=t("ee"),u=f.get("xhr"),d=t(17)(u),l=NREUM.o,p=l.XHR,h=l.MO,m="readystatechange",w=["onload","onerror","onabort","onloadstart","onloadend","onprogress","ontimeout"],v=[];e.exports=u;var y=window.XMLHttpRequest=function(t){var e=new p(t);try{u.emit("new-xhr",[e],e),e.addEventListener(m,o,!1)}catch(n){try{u.emit("internal-error",[n])}catch(r){}}return e};if(s(p,y),y.prototype=p.prototype,d.inPlace(y.prototype,["open","send"],"-xhr-",c),u.on("send-xhr-start",function(t,e){r(t,e),i(e)}),u.on("open-xhr-start",r),h){var g=1,b=document.createTextNode(g);new h(a).observe(b,{characterData:!0})}else f.on("fn-end",function(t){t[0]&&t[0].type===m||a()})},{}],10:[function(t,e,n){function r(t){var e=this.params,n=this.metrics;if(!this.ended){this.ended=!0;for(var r=0;r<d;r++)t.removeEventListener(u[r],this.listener,!1);if(!e.aborted){if(n.duration=(new Date).getTime()-this.startTime,4===t.readyState){e.status=t.status;var i=o(t,this.lastSize);if(i&&(n.rxSize=i),this.sameOrigin){var a=t.getResponseHeader("X-NewRelic-App-Data");a&&(e.cat=a.split(", ").pop())}}else e.status=0;n.cbTime=this.cbTime,f.emit("xhr-done",[t],t),c("xhr",[e,n,this.startTime])}}}function o(t,e){var n=t.responseType;if("json"===n&&null!==e)return e;var r="arraybuffer"===n||"blob"===n||"json"===n?t.response:t.responseText;return h(r)}function i(t,e){var n=s(e),r=t.params;r.host=n.hostname+":"+n.port,r.pathname=n.pathname,t.sameOrigin=n.sameOrigin}var a=t("loader");if(a.xhrWrappable){var c=t("handle"),s=t(11),f=t("ee"),u=["load","error","abort","timeout"],d=u.length,l=t("id"),p=t(14),h=t(13),m=window.XMLHttpRequest;a.features.xhr=!0,t(9),f.on("new-xhr",function(t){var e=this;e.totalCbs=0,e.called=0,e.cbTime=0,e.end=r,e.ended=!1,e.xhrGuids={},e.lastSize=null,p&&(p>34||p<10)||window.opera||t.addEventListener("progress",function(t){e.lastSize=t.loaded},!1)}),f.on("open-xhr-start",function(t){this.params={method:t[0]},i(this,t[1]),this.metrics={}}),f.on("open-xhr-end",function(t,e){"loader_config"in NREUM&&"xpid"in NREUM.loader_config&&this.sameOrigin&&e.setRequestHeader("X-NewRelic-ID",NREUM.loader_config.xpid)}),f.on("send-xhr-start",function(t,e){var n=this.metrics,r=t[0],o=this;if(n&&r){var i=h(r);i&&(n.txSize=i)}this.startTime=(new Date).getTime(),this.listener=function(t){try{"abort"===t.type&&(o.params.aborted=!0),("load"!==t.type||o.called===o.totalCbs&&(o.onloadCalled||"function"!=typeof e.onload))&&o.end(e)}catch(n){try{f.emit("internal-error",[n])}catch(r){}}};for(var a=0;a<d;a++)e.addEventListener(u[a],this.listener,!1)}),f.on("xhr-cb-time",function(t,e,n){this.cbTime+=t,e?this.onloadCalled=!0:this.called+=1,this.called!==this.totalCbs||!this.onloadCalled&&"function"==typeof n.onload||this.end(n)}),f.on("xhr-load-added",function(t,e){var n=""+l(t)+!!e;this.xhrGuids&&!this.xhrGuids[n]&&(this.xhrGuids[n]=!0,this.totalCbs+=1)}),f.on("xhr-load-removed",function(t,e){var n=""+l(t)+!!e;this.xhrGuids&&this.xhrGuids[n]&&(delete this.xhrGuids[n],this.totalCbs-=1)}),f.on("addEventListener-end",function(t,e){e instanceof m&&"load"===t[0]&&f.emit("xhr-load-added",[t[1],t[2]],e)}),f.on("removeEventListener-end",function(t,e){e instanceof m&&"load"===t[0]&&f.emit("xhr-load-removed",[t[1],t[2]],e)}),f.on("fn-start",function(t,e,n){e instanceof m&&("onload"===n&&(this.onload=!0),("load"===(t[0]&&t[0].type)||this.onload)&&(this.xhrCbStart=(new Date).getTime()))}),f.on("fn-end",function(t,e){this.xhrCbStart&&f.emit("xhr-cb-time",[(new Date).getTime()-this.xhrCbStart,this.onload,e],e)})}},{}],11:[function(t,e,n){e.exports=function(t){var e=document.createElement("a"),n=window.location,r={};e.href=t,r.port=e.port;var o=e.href.split("://");!r.port&&o[1]&&(r.port=o[1].split("/")[0].split("@").pop().split(":")[1]),r.port&&"0"!==r.port||(r.port="https"===o[0]?"443":"80"),r.hostname=e.hostname||n.hostname,r.pathname=e.pathname,r.protocol=o[0],"/"!==r.pathname.charAt(0)&&(r.pathname="/"+r.pathname);var i=!e.protocol||":"===e.protocol||e.protocol===n.protocol,a=e.hostname===document.domain&&e.port===n.port;return r.sameOrigin=i&&(!e.hostname||a),r}},{}],12:[function(t,e,n){function r(){}function o(t,e,n){return function(){return i(t,[(new Date).getTime()].concat(c(arguments)),e?null:this,n),e?void 0:this}}var i=t("handle"),a=t(15),c=t(16),s=t("ee").get("tracer"),f=NREUM;"undefined"==typeof window.newrelic&&(newrelic=f);var u=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit"],d="api-",l=d+"ixn-";a(u,function(t,e){f[e]=o(d+e,!0,"api")}),f.addPageAction=o(d+"addPageAction",!0),f.setCurrentRouteName=o(d+"routeName",!0),e.exports=newrelic,f.interaction=function(){return(new r).get()};var p=r.prototype={createTracer:function(t,e){var n={},r=this,o="function"==typeof e;return i(l+"tracer",[Date.now(),t,n],r),function(){if(s.emit((o?"":"no-")+"fn-start",[Date.now(),r,o],n),o)try{return e.apply(this,arguments)}finally{s.emit("fn-end",[Date.now()],n)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(t,e){p[e]=o(l+e)}),newrelic.noticeError=function(t){"string"==typeof t&&(t=new Error(t)),i("err",[t,(new Date).getTime()])}},{}],13:[function(t,e,n){e.exports=function(t){if("string"==typeof t&&t.length)return t.length;if("object"==typeof t){if("undefined"!=typeof ArrayBuffer&&t instanceof ArrayBuffer&&t.byteLength)return t.byteLength;if("undefined"!=typeof Blob&&t instanceof Blob&&t.size)return t.size;if(!("undefined"!=typeof FormData&&t instanceof FormData))try{return JSON.stringify(t).length}catch(e){return}}}},{}],14:[function(t,e,n){var r=0,o=navigator.userAgent.match(/Firefox[\/\s](\d+\.\d+)/);o&&(r=+o[1]),e.exports=r},{}],15:[function(t,e,n){function r(t,e){var n=[],r="",i=0;for(r in t)o.call(t,r)&&(n[i]=e(r,t[r]),i+=1);return n}var o=Object.prototype.hasOwnProperty;e.exports=r},{}],16:[function(t,e,n){function r(t,e,n){e||(e=0),"undefined"==typeof n&&(n=t?t.length:0);for(var r=-1,o=n-e||0,i=Array(o<0?0:o);++r<o;)i[r]=t[e+r];return i}e.exports=r},{}],17:[function(t,e,n){function r(t){return!(t&&t instanceof Function&&t.apply&&!t[a])}var o=t("ee"),i=t(16),a="nr@original",c=Object.prototype.hasOwnProperty,s=!1;e.exports=function(t,e){function n(t,e,n,o){function nrWrapper(){var r,a,c,s;try{a=this,r=i(arguments),c="function"==typeof n?n(r,a):n||{}}catch(f){l([f,"",[r,a,o],c])}u(e+"start",[r,a,o],c);try{return s=t.apply(a,r)}catch(d){throw u(e+"err",[r,a,d],c),d}finally{u(e+"end",[r,a,s],c)}}return r(t)?t:(e||(e=""),nrWrapper[a]=t,d(t,nrWrapper),nrWrapper)}function f(t,e,o,i){o||(o="");var a,c,s,f="-"===o.charAt(0);for(s=0;s<e.length;s++)c=e[s],a=t[c],r(a)||(t[c]=n(a,f?c+o:o,i,c))}function u(n,r,o){if(!s||e){var i=s;s=!0;try{t.emit(n,r,o)}catch(a){l([a,n,r,o])}s=i}}function d(t,e){if(Object.defineProperty&&Object.keys)try{var n=Object.keys(t);return n.forEach(function(n){Object.defineProperty(e,n,{get:function(){return t[n]},set:function(e){return t[n]=e,e}})}),e}catch(r){l([r])}for(var o in t)c.call(t,o)&&(e[o]=t[o]);return e}function l(e){try{t.emit("internal-error",e)}catch(n){}}return t||(t=o),n.inPlace=f,n.flag=a,n}},{}],ee:[function(t,e,n){function r(){}function o(t){function e(t){return t&&t instanceof r?t:t?s(t,c,i):i()}function n(n,r,o){if(!p){t&&t(n,r,o);for(var i=e(o),a=h(n),c=a.length,s=0;s<c;s++)a[s].apply(i,r);var f=u[y[n]];return f&&f.push([g,n,r,i]),i}}function l(t,e){v[t]=h(t).concat(e)}function h(t){return v[t]||[]}function m(t){return d[t]=d[t]||o(n)}function w(t,e){f(t,function(t,n){e=e||"feature",y[n]=e,e in u||(u[e]=[])})}var v={},y={},g={on:l,emit:n,get:m,listeners:h,context:e,buffer:w,abort:a};return g}function i(){return new r}function a(){p=!0,u=l.backlog={}}var c="nr@context",s=t("gos"),f=t(15),u={},d={},l=e.exports=o(),p=!1;l.backlog=u},{}],gos:[function(t,e,n){function r(t,e,n){if(o.call(t,e))return t[e];var r=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(t,e,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return t[e]=r,r}var o=Object.prototype.hasOwnProperty;e.exports=r},{}],handle:[function(t,e,n){function r(t,e,n,r){o.buffer([t],r),o.emit(t,e,n)}var o=t("ee").get("handle");e.exports=r,r.ee=o},{}],id:[function(t,e,n){function r(t){var e=typeof t;return!t||"object"!==e&&"function"!==e?-1:t===window?0:a(t,i,function(){return o++})}var o=1,i="nr@id",a=t("gos");e.exports=r},{}],loader:[function(t,e,n){function r(){if(!b++){var t=g.info=NREUM.info,e=d.getElementsByTagName("script")[0];if(setTimeout(f.abort,3e4),!(t&&t.licenseKey&&t.applicationID&&e))return f.abort();s(v,function(e,n){t[e]||(t[e]=n)}),c("mark",["onload",a()],null,"api");var n=d.createElement("script");n.src="https://"+t.agent,e.parentNode.insertBefore(n,e)}}function o(){"complete"===d.readyState&&i()}function i(){c("mark",["domContent",a()],null,"api")}function a(){return(new Date).getTime()}var c=t("handle"),s=t(15),f=t("ee"),u=window,d=u.document,l="addEventListener",p="attachEvent",h=u.XMLHttpRequest,m=h&&h.prototype;NREUM.o={ST:setTimeout,CT:clearTimeout,XHR:h,REQ:u.Request,EV:u.Event,PR:u.Promise,MO:u.MutationObserver},t(12);var w=""+location,v={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-995.min.js"},y=h&&m&&m[l]&&!/CriOS/.test(navigator.userAgent),g=e.exports={offset:a(),origin:w,features:{},xhrWrappable:y};d[l]?(d[l]("DOMContentLoaded",i,!1),u[l]("load",r,!1)):(d[p]("onreadystatechange",o),u[p]("onload",r)),c("mark",["firstbyte",a()],null,"api");var b=0},{}]},{},["loader",2,10,4,3]);</script>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <title>Personal Loans and Investing - Peer to Peer Bitcoin Lending - BTCJam</title>
    <meta content='BTCJam' name='author'>
    <meta content='World&#39;s largest bitcoin peer to peer lending marketplace. Where borrowers get great rates and Investors get great returns.' name='description'>
    <link href='https://btcjam.com.br' hreflang='pt' rel='alternate'>
    <link href='https://btcjam.com' hreflang='x-default' rel='alternate'>
    <link href='https://btcjam.com.ar' hreflang='es' rel='alternate'>
    <link href='https://btcjam.com.co' hreflang='es' rel='alternate'>
    <link href='https://btcjam.com.pe' hreflang='es' rel='alternate'>
    <link href='https://btcjam.com.mx' hreflang='es' rel='alternate'>
    <link href='https://btcjam.com' hreflang='ru' rel='alternate'>
    <link href='https://btcjam.com.pt' hreflang='pt' rel='alternate'>
    <link href='https://btcjam.com.es' hreflang='es' rel='alternate'>
    <link rel="stylesheet" media="screen" href="https://cdn.btcjam.com/assets/application-28577f4ced3f7dee675a57f43be5b3bc.css" />
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="nyf8ngvg5DrL8SCvsMuFRPo7TtcCATIFoK+TlASiwWnm3iFWJ5olFgJnqA91Bl4txh61MaTPvRRAbJXUOhw3mQ==" />
    <meta content='website' property='og:type'>
    <meta content='btcjam.com' property='og:site_name'>
    <meta content="Invest and Borrow with BTCJam's, the first global P2P Lending Platform" property='og:title'>
    <meta content='Earn fantastic returns as investor, or get much better rates as a borrower. Join our amazing community and make your financial dreams come true today, with BTCJam.' property='og:description'>
    <meta content='https://cdn.btcjam.com/assets/homepage-fb-og-030865853764657005048064e9f8cec3.jpg' property='og:image'>
    <meta content='https://cdn.btcjam.com/assets/homepage-fb-og-030865853764657005048064e9f8cec3.jpg' property='og:image:secure_url'>

</head>
<body ng-app='MainApplication' ng-class="{'stop-scroll' : interface.preventScroll }" ng-controller='MainController' ng-init="setData({ 'current_user_id': false })">
    <nav class='navbar navbar-transparent navbar-static-top' id='navbar' ng-controller='NavigationsController'>
        <div class='container'>
            <div class='row'>
                <div class='col-xs-12'>
                    <div class='navbar-header'>
                        <a class="navbar-brand" href="/">
                            <span>BTCjam</span>
                        </a>
                    </div>
                    <ul class='nav navbar-nav pull-right' id='navbar-nav'>
                        <li class='navbar-button-container text-center'><a class="navbar-btn" ng-click="trackMixpanel({ step: &#39;invest_link&#39;, source: &#39;navigation&#39; })" href="/invest">Invest</a></li>
                        <li class='navbar-button-container text-center'><a class="navbar-btn" ng-click="trackMixpanel({ step: &#39;borrow&#39;, source: &#39;navigation&#39; })" href="{{ crossDomainUrl(&#39;/loan_calculator&#39;) }}">Borrow</a></li>
                        <li class='navbar-button-container text-center'><a class="navbar-btn" href="/users/sign_in?landing_page=borrow">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id='body-n-footer'>
        <div id='landings-body'>

            <div id='homepage' ng-controller='HomepageController'>
                <div data-callback='fadeArrow' du-scrollspy hidden href='#scroll-down-icon' ng-cloak offset='{{ windowHeight - 80 }}'></div>
                <div data-callback='countStats' du-scrollspy hidden href='#stats' ng-cloak offset='{{ windowHeight - 120 }}'></div>
                <div data-callback='showLoanPurposeIcons' du-scrollspy hidden href='#loan-purpose' ng-cloak offset='{{ windowHeight - 200 }}'></div>
                <div data-callback='showStepIcons' du-scrollspy hidden href='#sign-up-process' ng-cloak offset='{{ windowHeight - 200 }}'></div>
                <div data-callback='flipInTestimonial' du-scrollspy hidden href='#testimonials' ng-cloak offset='{{ windowHeight - 300 }}'></div>
                <section id='main-splash'>
                    <div class='header-content' ng-cloak ng-show='loaded'>
                        <div class='header-content-inner'>
                            <img alt="Scroll Down" id="mobile-scroll-down-icon" class="visible-xs" src="https://cdn.btcjam.com/assets/landing_images/other/scroll-down-icon-168c0edc7edf7a23c031de4b4c8c388c.png" />
                            <h1>
                                Online personal loans.
                                <br>
                                Convenient with low rates.
                            </h1>
                            <a class='btn btn-submit btn-large' href="{{ crossDomainUrl('/loan_calculator') }}" ng-click="trackMixpanel({ step: 'borrow', source: 'top_button' })">
                                Check your rate
                            </a>
                        </div>
                    </div>
                    <div id='scroll-down-icon' ng-cloak ng-hide='fadeArrow'>
                        <img alt="Scroll Down" src="https://cdn.btcjam.com/assets/landing_images/other/scroll-down-icon-168c0edc7edf7a23c031de4b4c8c388c.png" />
                        <p>
                            More details below
                        </p>
                    </div>
                </section>
                <section id='stats'>
                    <div id='stats-container'>
                        <div class='row gutter-10'>
                            <div class='col-sm-4 secondary-stat stat'>
                                <div class='stat-number'>
                                    <span class='counter' count-to='{{ countUp ? 20281 : false }}' duration='0.8'></span>
                                </div>
                                <div class='stat-sub-text' ng-cloak ng-show='countUp'>
                                    Loans Funded
                                </div>
                            </div>
                            <div class='col-sm-4 secondary-stat stat'>
                                <div class='stat-number'>
                                    $ <span count-to="{{ countUp ? 17 : false }}" duration="0.8"></span> Million
                                </div>
                                <div class='stat-sub-text' ng-cloak ng-show='countUp'>
                                    Total amount borrowed
                                </div>
                            </div>
                            <div class='col-sm-4 secondary-stat stat'>
                                <div class='stat-number'>
                                    <span class='counter' count-to='{{ countUp ? 20 : false }}' duration='0.8'></span>
                                </div>
                                <div class='stat-sub-text' ng-cloak ng-show='countUp'>
                                    Loans funding now
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id='loan-purpose'>
                    <div class='container'>
                        <h2 class='section-heading'>
                            Many loan needs, one simple process
                        </h2>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Medical expenses' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/medical-expenses-7b213b410865bed3a273f3e9f6a625b7.png'" deferred-image title='Medical expenses'>
                                <h3>
                                    Medical expenses
                                </h3>
                                <p>
                                    Need to pay a surgery or other medical procedure? Borrow money with BTCjam.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Business' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/business-6f04b872450779969d523a7eb5dfe4bb.png'" deferred-image title='Business'>
                                <h3>
                                    Business
                                </h3>
                                <p>
                                    Need working capital or money to expand you business? Check out our low rates.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Debt consolidation' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/scissors-5f6de5e7dadb59e98ea67ab7fd0ea0bb.png'" deferred-image title='Debt consolidation'>
                                <h3>
                                    Debt consolidation
                                </h3>
                                <p>
                                    Get out of debt faster with a low interest personal loan from BTCjam.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Credit card refinancing' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/debt-consolidation-de7f8de15a0741711ac2ab4e0b711c19.png'" deferred-image title='Credit card refinancing'>
                                <h3>
                                    Credit card refinancing
                                </h3>
                                <p>
                                    Why pay so much for your credit card? Get a low rate loan and refinance your credit card debt.
                                </p>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Mining' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/bitcoin-mining-4506b4a028f70002fffe0249c25abc30.png'" deferred-image title='Mining'>
                                <h3>
                                    Mining
                                </h3>
                                <p>
                                    See how bitcoin lending can help you upgrade or set up your mining farm.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Major purchase' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/gift-box-da02dfd3a49944a95140ed527e8c515b.png'" deferred-image title='Major purchase'>
                                <h3>
                                    Major purchase
                                </h3>
                                <p>
                                    Unleash the power of peer to peer lending and finance your next major purchase.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Vacation' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/vacation-4050f3c999c76710f426b9428660ebbd.png'" deferred-image title='Vacation'>
                                <h3>
                                    Vacation
                                </h3>
                                <p>
                                    A convenient way to pay for your trip with a low-interest online loan.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 text-center purpose-item'>
                                <img alt='Other' data-image-url="'https://cdn.btcjam.com/assets/landing_images/loan_purpose/major-purchase-5efb1f5dcf5bf9a74f67a734c0c8ee18.png'" deferred-image title='Other'>
                                <h3>
                                    Other
                                </h3>
                                <p>
                                    BTCjam can help you borrow money for other purposes.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-bg-image-url='https://cdn.btcjam.com/assets/landing_images/background_images/people-talking-74c28c5e483db6679430f8cba7391b7b.jpg' id='testimonials'>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <h2>
                                What borrowers are saying about BTCjam
                            </h2>
                            <p id='sub-heading'>
                                Bitcoin lending through a peer-to-peer market place.
                            </p>
                        </div>
                        <div class='col-sm-6' id='bubble-column-mega-screens'>
                            <div class='testimonial-bubble' ng-class='testimonialBubbleClass'>
                                &quot;The main advantage I get with BTCJam is cheaper access to money when I really need it. The next time I hear of someone who needs a loan, I'll send them to BTCjam.&quot;
                                <p>- Erik C., Borrower</p>
                            </div>
                            <div class='testimonial-profile-img-container'>
                                <img alt='Kevin C. Profile Photo' data-image-url="'https://cdn.btcjam.com/assets/landing_images/testimonials/kevinc-a2e3330b325f5eec9a8684152dda00b3.jpg'" deferred-image>
                            </div>
                        </div>
                    </div>
                </section>
                <section id='sign-up-process'>
                    <div class='container'>
                        <h2 class='section-heading'>
                            Getting a loan on BTCjam is easy
                        </h2>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-sm-3 col-xs-6 step-icons'>
                                <img alt='Create Loan' data-image-url="'https://cdn.btcjam.com/assets/landing_images/how_it_works/create-loan-457fd4c85cca4d4f279e096fa557f013.png'" deferred-image>
                                <h3>1. Create your loan</h3>
                                <p>
                                    Fast and easy loan application in minutes. Reliable financing for both planned and unexpected events.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 step-icons'>
                                <img alt='Watch Fund' data-image-url="'https://cdn.btcjam.com/assets/landing_images/how_it_works/watch-fund-2f8127704dee428446fc0a02aa09fef8.png'" deferred-image>
                                <h3>2. Watch it get funded</h3>
                                <p>
                                    Get your loan funded in a few days. Watch the power of the online Peer-to-Peer (P2P) marketplace.
                                </p>
                            </div>
                            <div class='col-xs-12 grid-flattener visible-xs'>
                                &nbsp
                            </div>
                            <div class='col-sm-3 col-xs-6 step-icons'>
                                <img alt='Withdraw Money' data-image-url="'https://cdn.btcjam.com/assets/landing_images/how_it_works/withdraw-money-2b1388766fb18ba45b1e695f3cbb348d.png'" deferred-image>
                                <h3>3. Withdraw your money</h3>
                                <p>
                                    Fast Access to your loan. Use our online partners to easily withdraw your needed funds.
                                </p>
                            </div>
                            <div class='col-sm-3 col-xs-6 step-icons'>
                                <img alt='Make Payments' data-image-url="'https://cdn.btcjam.com/assets/landing_images/how_it_works/make-payments-48c511bff6ff39ab6ecb531a84900671.png'" deferred-image>
                                <h3>4. Make your payments</h3>
                                <p>
                                    Make fixed payments easily. All loans have an affordable fixed rate - easy for payment planning.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-bg-image-url='https://cdn.btcjam.com/assets/landing_images/background_images/handshake-259b9d3351c0dd167b97c4dfd2ffb3c5.jpg' id='partners'>
                    <div class='container'>
                        <h2 class='section-heading'>
                            News coverage and partners
                        </h2>
                    </div>
                    <div id='partner-logos'>
                        <div class='row'>
                            <div class='col-sm-3 news-logo wow fadeIn' data-delay='.2s'>
                                <img alt='Fox Business' data-image-url="'https://cdn.btcjam.com/assets/landing_images/press_logos/foxbusiness-2c6c5ccf611643713bf40c318fb89701.png'" deferred-image>
                            </div>
                            <div class='col-sm-9 news-quote wow fadeIn' data-delay='.2s'>
                                <p>
                                    BTCjam allows a user to invest their bitcoins and earn a high rate of return. BTCjam is also a great place for those seeking loans.
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div id='partner-logos-container'>
                            <div class='row'>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.2s'>
                                    <img alt='Anx' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/anx-7ffa32498c3e2e213948d4a1b6a62206.png'" deferred-image>
                                </div>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.3s'>
                                    <img alt='Bitx' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/bitx-fbfedd94640bcc2727596f39cdf19785.png'" deferred-image>
                                </div>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.4s'>
                                    <img alt='Coinsph' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/coinsph-6b7cd1c9b179bf6ce0815656fde2c0b4.png'" deferred-image>
                                </div>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.5s'>
                                    <img alt='Unocoin' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/unocoin-d7a7d6f37582ff60df10852952ba555d.png'" deferred-image>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.6s'>
                                    <img alt='Volabit' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/volabit-851a1180cddc3e6f1034870eb9296e7f.png'" deferred-image>
                                </div>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.7s'>
                                    <img alt='BlockChain' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/blockchain-2a964a8ce246dd018c6f34eb723db4bc.png'" deferred-image>
                                </div>
                                <div class='col-sm-3 col-xs-6 partner-logo wow fadeIn' data-delay='.8s'>
                                    <img alt='Xapo' data-image-url="'https://cdn.btcjam.com/assets/landing_images/partner_logos/xapo-b14bee73cef143f2be1b226e60768828.png'" deferred-image>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id='final-sign-up'>
                    <div class='container'>
                        <p>
                            You're only a few steps away from getting your loan.
                        </p>
                    </div>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-xs-12 text-center'>
                                <a class='btn btn-large btn-submit' href='/loan_calculator' ng-click="trackMixpanel({ step: 'borrow', source: 'bottom_button' })">
                                    Get Started
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7Z7WX"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K7Z7WX');</script>
        <section class='footer landing' id='footer'>
            <div class='spacer-40 hidden-xs'></div>
            <div class='spacer-20 visible-xs'></div>
            <div class='container'>
                <div class='row'>
                    <div class='col-sm-3 col-xs-12'>
                        <p>The Company</p>
                        <ul>
                            <li><a target="_self" href="/about">About Us</a></li>
                            <li><a target="_self" href="/stats">Statistics</a></li>
                            <li><a target="_blank" href="http://blog.btcjam.com/">Blog and News</a></li>
                            <li><a target="_self" href="/careers">Careers</a></li>
                            <li><a target="_self" href="/our-partners">Our Partners</a></li>
                            <li><a target="_self" href="/partner">Partner with Us</a></li>
                        </ul>
                        <div class='spacer-20 hidden-xs'></div>
                        <p>Legal</p>
                        <ul>
                            <li><a target="_self" href="/terms-of-use">Terms of Use</a></li>
                            <li><a target="_self" href="/legal/privacy_policy">Privacy Policy</a></li>
                            <li><a target="_self" href="/legal/rules_for_borrowers">Borrower Agreement</a></li>
                            <li><a target="_self" href="/legal/rules_for_lenders">Investor Agreement</a></li>
                            <li><a target="_self" href="/disclaimers">Disclaimers</a></li>
                        </ul>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <p>How it works</p>
                        <ul>
                            <li><a target="_self" href="/how_it_works/overview">Overview</a></li>
                            <li><a target="_self" href="/borrow/overview">How to Get a Loan</a></li>
                            <li><a target="_self" href="/invest/overview">How to Invest</a></li>
                            <li><a target="_self" href="/loan_calculator"><span class="translation_missing" title="translation missing: en.listings.new.loan_calculator">Loan Calculator</span></a></li>
                            <li><a target="_self" href="/borrow/rates_and_fees">Rates and Fees</a></li>
                            <li><a target="_blank" href="http://help.btcjam.com">FAQ</a></li>
                        </ul>
                        <div class='spacer-20 hidden-xs'></div>
                        <p>Loan Listings</p>
                        <ul>
                            <li><a target="_self" href="/listings">All Listings</a></li>
                            <li><a target="_self" href="/listings/f/all-terms/btc-tied/all-ratings/safe">Bitcoin Loans</a></li>
                            <li><a target="_self" href="/listings/f/7-30-days/all-currencies/all-ratings/safe">Short Term Loans</a></li>
                            <li><a target="_self" href="/listings/f/all-terms/all-currencies/a,b/safe">Top Rated Loans</a></li>
                        </ul>
                    </div>
                    <div class='col-sm-3 col-xs-12'>
                        <p>Developers</p>
                        <ul>
                            <li><a target="_self" href="/faq/api">API</a></li>
                        </ul>
                        <div class='spacer-20 hidden-xs'></div>
                        <p>In Social Media</p>
                        <ul>
                            <li><a target="_blank" href="https://twitter.com/btcjam">Follow us on Twitter</a></li>
                            <li><a target="_blank" href="http://www.linkedin.com/company/2952111">Read our LinkedIn Page</a></li>
                            <li><a target="_blank" href="https://www.facebook.com/P2PBTCJam">Read our Facebook Fan Page</a></li>
                        </ul>
                        <div class='spacer-20 hidden-xs'></div>
                        <iframe allowTransparency='true' class='footer-fb-like' frameborder='0' id='footer-fb-like' scrolling='no' src='' style='border:none; overflow:hidden; height:80px;'></iframe>
                    </div>
                    <div class='col-sm-3 text-right' style='overflow: hidden;'>
                        <a target="_blank" href="https://mixpanel.com/f/partner"><img deferred-image data-image-url="'https://cdn.btcjam.com/assets/mixpanel-97e79d930691851323949a3d9851a2a3.jpg'" /></a>
                        <div class='spacer-10'></div>
                        <a target="_blank" href="https://bitcoinfoundation.org/member/"><img deferred-image data-image-url="'https://cdn.btcjam.com/assets/bitcoin-foundation-d19119c3bdc51cec2c8266869a8fa5c5.jpg'" /></a>
                        <div class='spacer-10'></div>
                        <div class='language-select'>
                            <form id="language_form" action="/users/update_language" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="mgZbNwA/5z6rrMlm1qPGAbdKDFRykrhQBs0BCJyST3vj/4b/LEUmEmI6QcYTbh1oi2/3stRcN0HmDgdIoiy5iw==" />
                                <div class='input-group'>
                                    <select name="locale" id="locale" onchange="$(39);language_form&39.submit();">
                                        <option selected="selected" value="2">English</option>
                                        <option value="1">Portugues</option>
                                        <option value="9">Español</option>
                                        <option value="10">Russian</option>
                                    </select>
                                    <span class='caret'></span>
                                </div>
                                <input type="hidden" name="return_to" id="return_to" value="/" />
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class='spacer-40'></div>
            <div class='container'>Copyright 2014 Ovo Cosmico, Inc.</div>
        </section>

    </div>
    <script src="https://cdn.btcjam.com/assets/application-08d0056e964d7ab0e56aad476def69ff.js"></script>
    <div hidden preload-resource='/currencies'>
        []
    </div>
    <script src="https://cdn.btcjam.com/assets/landing-4a1bd4ec9debd804b0d6f896f0e68fae.js"></script>
    <script type="text/javascript" async="async">
  var $buoop = {
    vs: { i:8, f:4, o:10, s:6, c:14},
    reminder: 24,
    l: "en",
    text_en: "<div class='container'>Your browser (%s) is outdated. <p>To use BTCJam you need to update your browser or choose another one. Click here to learn how to update your browser.</p></div>",
    text_pt: "<div class='container'>Seu navegador (%s) está desatualizado. <p>Para o perfeito funcionamento do BTCJam atualize ou escolha outro navegador. Clique aqui para saber como atualizar seu navegador.</p></div>",
    newwindow: true
  };
  $buoop.ol = window.onload;
  window.onload=function(){
    try { if ($buoop.ol) $buoop.ol(); } catch (e) {}
    var e = document.createElement("script");
    e.setAttribute("type", "text/javascript");
    e.setAttribute("src", "//browser-update.org/update.js");
    document.body.appendChild(e);
  }
    </script>

    <script>

    </script>
    <script async='async' type='text/javascript'>
window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
window.analytics.load("tytgwn1sox");
window.analytics.page();
    </script>
    <script async='async' type='text/javascript'>
analytics.ready(function() {
analytics.track('Borrower Page', { version: 'homepage' });
})
    </script>

    <script async='async' type='text/javascript'>
(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
_fbq.push(['addPixelId', '895777783815213']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript>
        <img alt='' height='1' src='https://www.facebook.com/tr?id=895777783815213&amp;amp;ev=PixelInitialized' style='display:none' width='1'>
    </noscript>
</body>
</html>
